/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400; */

*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden
}

.all{
  min-width: 100vh;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}